[submodule "STM32Tools/tools/src/Arduino_STM32"]
	path = STM32Tools/tools/src/Arduino_STM32
	url = https://github.com/rogerclarkmelbourne/Arduino_STM32
[submodule "STM32Tools/tools/src/dfu-util"]
	path = STM32Tools/tools/src/dfu-util
	url = https://git.code.sf.net/p/dfu-util/dfu-util
[submodule "STM32Tools/tools/src/stm32flash-serial"]
	path = STM32Tools/tools/src/stm32flash-serial
	url = https://git.code.sf.net/p/stm32flash/code
[submodule "STM32Tools/tools/src/stlink"]
	path = STM32Tools/tools/src/stlink
	url = https://github.com/texane/stlink.git
[submodule "STM32Tools/tools/src/STM32_HID_Bootloader"]
	path = STM32Tools/tools/src/STM32_HID_Bootloader
	url = https://github.com/Serasidis/STM32_HID_Bootloader.git
